<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .botao {
            display: inline-block;
            padding: 10px 15px;
            margin: 10px 0;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
    </style>
    <h1>CADASTRO CLIENTE</h1>
    <form action="../Public/Clientes/processar_cadastro_clientes.php"method="POST" >
        
        <label>Nome</label>
    <input type="text" name="nome"><br><br>
        
        <label>E-mail</label>
    <input type="text" name="email"><br><br> 

        <label>Senha</label>
    <input type="password" name="senha"><br><br> 

    <button type="submit" name="cadastrar" class="botao">Cadastrar</button> 
    </form>
    <a href="/views/index.html" class="botao">Voltar</a>
</body>
</html>