<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>TELA INICIAL, BEM VINDO!</h1>
    <a href="/views/Usuarios/cadastro_usuario.html" class="botao">Cadastrar Usuarios</a>
    <a href="/views/Usuarios/login_usuarios.html" class="botao">Login Usuarios</a>
    <a href="/views/Clientes/cadastro_cliente.html" class="botao">Cadastrar Clientes</a>
    <a href="/views/Clientes/login_cliente.html" class="botao">Login Clientes</a>
    <a href="/public/clientes/meus_ingressos.php" class="botao">Ver Meus Ingressos</a>
</body>
</html>