<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN USUARIOS</h1>
    <form action="../src/processar_login_usuario.php" method="post">
        <label>Usuario:</label>
        <input type="text" name="nome"><br><br>
        
        <label>E-mail:</label>
        <input type="text" name="email"><br><br>

        <label>Senha:</label>
        <input type="password" name="senha"><br><br>

        <button type="submit" name="Login">Login</button>
    </form>
</body>
</html>
